header{
    font-family: sans-serif;
}

body{
    padding: 50px;
    /* background-color: #66CCFF; */
    font-family: sans-serif;

    background: #003973;; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #003973, #e5e5be); /* Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to left, #003973, #e5e5be);
}

#container{
    display: flex;
    justify-content: flex;
}